@model FormulaModel 

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="Link"></label>
        <input asp-for="Link" class="form-control" />
        <a class="btn btn-primary" asp-action="Index" method="post">
            Refresh
        </a>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group ">
        <label asp-for="TableForParsing"></label>
        @Html.Raw(ViewBag.ResultTable)
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Сохранить" />
    </div>
</form>